@import (reference) "constants.less";

html {
	font-size: 62.5%;
}

.transition-enter {
	opacity: 0;
}

.transition-enter-active {
	transition: opacity 1s;
	opacity: 1;
}

.transition-exit {
	opacity: 1;
}

.transition-exit-active {
	transition: opacity 1s;
	opacity: 0;
}

body {
	margin: 0;
	font-family:
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

#root {
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}
